
<div class="container col-md-3">
    <nav class="navbar flex-column navbar-light bg-white border-bottom box-shadow mb-3">
        <a asp-controller="CompanySettings" asp-action="Index" class="navbar-brand text-nowrap" >Настройки</a>
        <div class="justify-content-center" id="navbarNav">
            <ul class="navbar-nav flex-column">
                <li class="nav-item">
                    <a asp-controller="CompanySettings" asp-action="Edit" class="nav-link" >Редактиране на фирма</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="VatType" asp-action="Index" class="nav-link">ДДС</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="BankAccount" asp-action="Index" class="nav-link">Банкови сметки</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Employee" asp-action="Index" class="nav-link">Служители</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="PaymentType" asp-action="Index" class="nav-link">Начини на плащане</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="CompanySettings" asp-action="Database" class="nav-link">База данни</a>
                </li>
            </ul>
        </div>
    </nav>
</div>