@using WebInvoice.Dto.Employee
@model ICollection<EmployeeDto>
@inject WebInvoice.Services.IUserCompanyTemp userCompanyData

<div class="row">
    <partial name="~/Views/CompanySettings/_NavBarSettingsPartial.cshtml" />
    <div class="container col-md-9">
        <h3 class="text-center">@userCompanyData.CompanyName</h3>
        <h3 class="text-center">Служители</h3>
        <div class="row justify-content-center">
            <table class="table table-hover col-10">
                <thead>
                    <tr>
                        <th scope="col">Име</th>
                        <th scope="col">По подразбиране</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var employee in Model)
                    {
                        <tr>
                            <td>@employee.FullName</td>
                            <td>
                                @if (employee.IsActive)
                                {
                                    @:ДА
                                }
                                else
                                {
                                    @:НЕ
                                }
                            </td>
                            <td><a asp-area="" asp-controller="Employee" asp-action="Edit" asp-route-id="@employee.Id" class="btn btn-dark">Редактирай</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div>
            <a asp-area="" asp-controller="Employee" asp-action="Create" class="btn btn-light">Нов служител</a>
        </div>
    </div>
</div>