@page
@model RegisterModel
@{
    ViewData["Title"] = "Регистрация";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-6">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Създаване на нов потребител</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Name">Име на фирмата</label>
                <input asp-for="Input.Name" class="form-control" id="companyName" aria-describedby="nameHelp"  />
                <small id="nameHelp" class="form-text text-muted">Моля въведете името на кирилица, не повече от 50 символа</small>
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Country">Страна</label>
                <input asp-for="Input.Country" class="form-control" id="countryName"  value="България" />
                <span asp-validation-for="Input.Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.City">Град</label>
                <input asp-for="Input.City" class="form-control" id="cityName"  />
                <span asp-validation-for="Input.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Address">Адрес</label>
                <input asp-for="Input.Address" class="form-control" id="AddressName" />
                <span asp-validation-for="Input.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.MOL"></label>
                <input asp-for="Input.MOL" class="form-control" id="MOL" />
                <span asp-validation-for="Input.MOL" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.EIK"></label>
                <input asp-for="Input.EIK" class="form-control" id="EIK"/>
                <span asp-validation-for="Input.EIK" class="text-danger"></span>
            </div>
            <div class="form-check">
                <input asp-for="Input.IsVatRegistered" class="form-check-input" id="isVatRegistered" onclick="fillVatId()" />
                <label asp-for="Input.IsVatRegistered" class="form-check-label"></label>
                <span asp-validation-for="Input.IsVatRegistered" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.VatId"></label>
                <input asp-for="Input.VatId" class="form-control" id="vatId"  />
                <span asp-validation-for="Input.VatId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.CompanyEmail"></label>
                <input asp-for="Input.CompanyEmail" class="form-control" id="email" />
                <span asp-validation-for="Input.CompanyEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Description"></label>
                <input asp-for="Input.Description" class="form-control" id="Description" type="text" />
                <span asp-validation-for="Input.Description" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Създай</button>
        </form>
    </div>
    <div class="col-md-4 col-md-offset-2">
        <section>
            <h4>Ръководство</h4>
            <hr />
           Моля, въвеждайте данните коректно!
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        function fillVatId() {
            var eik = document.getElementById('EIK').value;
            var country = document.getElementById('countryName').value;
            if (country == "България") {
                var vatId = document.getElementById('vatId').value = "BG" + eik;
            }

        }
    </script>
}
