@using Microsoft.AspNetCore.Identity
@using WebInvoice.Data.AppData.Models
@using WebInvoice.Models.Home
@model CompanyListModels
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @Model.Companies.Where(c => c.IsActive == true).FirstOrDefault().Name
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                @foreach (var Company in Model.Companies)
                {
                    <a class="dropdown-item" href="#">@Company.Name</a>
                }

            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                (Обект)
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">(друг Обект)</a>
                <a class="dropdown-item" href="#">Нов обект</a>
                <a class="dropdown-item" href="#">Настройки на обект</a>
            </div>
        </li>
       
    }
    else
    {
        
    }
</ul>
