@inject WebInvoice.Services.IUserCompanyTemp userCompanyData
    <div class="text-center">
        <h1>@userCompanyData.CompanyName</h1>
        <h3>Обект: @userCompanyData.CompanyObjectName</h3>
    </div>